# Files created after compiling
latex/*.aux
latex/*.bcf
latex/*.run.xml
latex/*.-blx.bib
latex/*.bbl
latex/*.blg
latex/*.lof
latex/*.log
latex/*.out
latex/*.toc
latex/*.fdb*
latex/*.fls
latex/*.synctex.gz

# Misc
latex/template
latex/Template-Documentation.pdf
